<div class="mt-4">
        <form method="post" action="">
            <div class="form">
                <label for="search-input">Key</label>
                <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        <div class="for-group">
                <label for="gender-input">Key</label>
                <Select type="text" name="gender" class="form-control" id="gender-input">
                    <option  value="">--Chon--</option>
                    <option value="male">--Nam--</option>
                    <option value="female">--Nu--</option>
                </Select>
                <button type="submit" class="btn btn-primary mt-4">Search</button>
        </div>
        </form>
</div>